<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cV -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="cV.presentation.CVModelWizardID"
            name="%_UI_CVModelWizard_label"
            class="cV.presentation.CVModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CVModelFile.gif">
         <description>%_UI_CVModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cV -->
      <editor
            id="cV.presentation.CVEditorID"
            name="%_UI_CVEditor_label"
            icon="icons/full/obj16/CVModelFile.gif"
            extensions="cv"
            class="cV.presentation.CVEditor"
            contributorClass="cV.presentation.CVActionBarContributor">
      </editor>
   </extension>

</plugin>
